body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(images/ghna4.jpg);
    color:" ";
    font-size: 17px;
}
h2{
    font-size: 36px;
    padding-top: 50px;
    color: #000;
  }
  .form{
    width: 79%;
    margin: auto;
    color: #000;
  }
  #fname{
    border-radius: 30px;
    width: 200px;
    height: 35px;
    box-shadow: 2px 2px #000000;
  }
  #Year{
    border-radius: 20px;
    width: 100px;
    height: 29px;
    box-shadow: 2px 2px #000000;
  }
  #Month{
      border-radius: 20px;
      width: 100px;
      height: 29px;
      box-shadow: 2px 2px #000000;
  }
  #Day{
      border-radius: 20px;
      width: 100px;
      height: 29px;
      box-shadow: 2px 2px #000000;
  }
  #get-name{
    border-radius: 5px;
    color: #000000;
    background-color:teal;
    text-align: center;
    border: solid 1px #000000;
    width: 108px;
    height: 42px;
    font-size: 13px;
    box-shadow: 2px 2px #000000;
  }
  .user-details{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
  }
  #akanName{
    text-align: center;
    padding: 10px;
    margin: 10px;
   border-radius: 10px;
    font-size: 30px;
}
  .clear{
    text-align: center;
    border-radius: 5px;
    color: #000000;
    background-color:teal;
    text-align: center;
    border: solid 1px #000000;
    width: 108px;
    height: 42px;
    font-size: 13px;
    box-shadow: 2px 2px #000000;
      }
  .input{
    background-color: rgba(1, 31, 23, 0.72);
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    padding-bottom: 20px;
    border-radius: 0.5%;
  }
  .name{
      color:black;
  }
  #reset{
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;
  }